.main-container{
    border-radius: 28px;
    background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.sub-container-one{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 27px;
    width: 45%;
    height: 80% ;
    border: 1px solid #96BEE7;
    background: rgba(97, 97, 97, 0.82);
}

.sub-container-two{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 27px;
    width: 45%;
    height: 80% ;
    gap: 20px;
}

.about-container{
    border-radius: 18.89px;
    background: #363C43;
    box-shadow: 5.67px 5.67px 3.78px 0px rgba(0, 0, 0, 0.40);
    height: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image-container{
    border-radius: 18.89px;
    background: #363C43;
    box-shadow: 5.67px 5.67px 3.78px 0px rgba(0, 0, 0, 0.40);
    height: 50%;
}

.line{
    border-radius: 2.459px;
    background: var(--light-glass-fill-10-neutral, linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(180deg, rgba(40, 40, 40, 0.10) 0%, rgba(248, 248, 248, 0.10) 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(4.918659687042236px);
    width: 80%;
}

.tabs-container{
    display: flex;
    border-radius: 23px;
background: #171717;
box-shadow: 0px 4.96px 12.4px 2.48px rgba(0, 0, 0, 0.25) inset;
    width: 80%;
    height: 45px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: #A3ADB2;
    /* justify-content: center; */
}

.tab-active{
    display: inline-flex;
    justify-content: center;
align-items: center;
gap: 6px;
background-color: #28292F;
padding: 10px;
border-radius: 5px;
width: 150px;
text-align: center;
color: whitesmoke;
}

.profile-gallery-container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    color: #d0d0d0;
    font-family: Arial, sans-serif;
  }
  
  .section-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    background-color: #171717;
    border-radius: 10px;
    padding: 5px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    flex-grow: 1;
    color: #aaa;
  }
  
  .tab.active {
    background-color: #3c3c3c;
    color: #fff;
  }
  
  .section-content {
    margin-bottom: 20px;
    padding: 15px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    scrollbar-width: thin; 
    scrollbar-color: #555 #2c2c2c;
    color: whitesmoke;
  }

  .section-content::-webkit-scrollbar {
    width: 8px;
  }

  .section-content::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #2c2c2c, #555); 
    border-radius: 10px;
  }
  
  .section-content::-webkit-scrollbar-thumb {
    border: 0 none transparent; 
    border-radius: 10px;
    background: url('./scrollbar.png');
  }

  .section-content::-webkit-scrollbar-thumb:hover {
    background-color: transparent; 
  }
  
  
  .section-content::-webkit-scrollbar-button {
    display: none;
  }
  
  .about-section .edit-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #1f8ef1;
  }
  
  .gallery-section {
    background: #363C43;
    padding: 15px;
    border-radius: 10px;
    height: 40%;
  }
  
  .gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gallery-title {
    margin-left: 10px;
    flex-grow: 1;
    /* color: #fff; */
    /* font-size: 16px; */
  }

  .gallery-button{
    color: whitesmoke;
    background-color: #171717;
    border-radius: 10px;
    /* padding: 15px; */
    height: 45px;
    width: 105px;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .add-image-button {
    background-color: #4f4f4f;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 11px;
    height: 40px;
    width: 110px;
    box-shadow: 1px -4px 4px rgba(255, 255, 255, 0.3);
  }
  
  .add-image-button svg {
    margin-right: 5px;
  }
  
  .image-carousel {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .carousel-control {
    color: #aeadad;
    cursor: pointer;
    font-size: 15px;
    background-color: #28292F;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 1px -3px 4px rgba(255, 255, 255, 0.3);
  }
  
  .image-list {
    display: flex;
    overflow-x: auto;
    flex-grow: 1;
    gap: 10px;
    padding: 10px;
  }
  
  .gallery-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .icon-container{
    display: flex;
  }
  .add-image-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-container .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .about-icon-and-tabs{
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    gap: 30px;
  }